log_e9.bin

/imagen/**
!/imagen/minix3hd.7z
!/imagen/minix3hd.plot.7z
!/imagen/minix3hd.plot.bt0354.7z

/utilidades/qemu/

id.txt

/src/MINIX3/
/src/minix312ahack/
/out/
/src/**

.DS_Store
.vscode/c_cpp_properties.json
